---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";

const blogs = await getCollection("blogs");
---

<Layout title="blog">
  {
    blogs.map((blog) => (
      <a href={`/blog/${blog.id}`}>
        <h2>
          {blog.data.title} - {blog.data.date}
        </h2>
      </a>
    ))
  }
</Layout>
