---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";

const blogs = await getCollection("blogs");
---

<Layout title="blog">
  {
    blogs.map((blog) => (
      <a href={`${import.meta.env.BASE_URL}blog/${blog.id}`} class="underline">
        <h2>
          {blog.data.title} - {blog.data.date}
        </h2>
      </a>
    ))
  }
</Layout>
