---
import Layout from "../layouts/Layout.astro";
---

<Layout title="interests">
  <h2 class="text-2xl font-semibold mb-5">Interests</h2>
  <h3 class="text-xl font-semibold">Programming</h3>
  <div class="flex items-start gap-12">
    <p class="text-slate-700 max-w-1/3 mb-2">
      I used to do web development in django for my local radiostation which was
      a great oppertunity to get program with others and learn about web
      development. Recently, I've been using OpenCV and MediaPipe to build an
      application in which the user can use their hands to navigate their
      computer. That has also been good fun and was great exposure to MediaPipe
      and doing live caputring with openCV. I'm going to eventually make an
      actual UI for it so it can be more usuable. I'm now spending my summer
      doing a research project in which I will be making CNN models to perform
      climate downscaling.
    </p>
    <img
      src={`${import.meta.env.BASE_URL}images/climate.png`}
      alt="photo of what climate downscaling is"
      class="object-scale-down w-1/4 h-auto display:inline"
    />
  </div>

  <h3 class="text-xl font-semibold mt-5">Maths</h3>
  <div class="flex items-start gap-12">
    <p class="text-slate-700 max-w-1/3 mb-2">
      I've gotten more interested in maths as I've come to university. Topics
      such as graph theory, discrete maths and linear algebra stood out as the
      most enjoyable for me. I'm very comfortable using numpy for any
      dataprocessing or linear algebra.
    </p>
  </div>

  <h3 class="text-xl font-semibold mt-5">Music</h3>
  <div class="flex items-start gap-12">
    <p class="text-slate-700 max-w-1/3 mb-2">
      I spend most if not all of my time out of university listening to and
      playing music. I play guitar, bass and (attempt to play) drums. I play in
      a band with my friends and we often play gigs around Glasgow and
      Edinburgh. It's a great oppertunity to meet lots of people and to hear
      lots of new good bands. I also make my own demos and love to play around
      with mixes etc.
    </p>
    <img
      src={`${import.meta.env.BASE_URL}images/band.jpg`}
      alt="photo of band"
      class="object-scale-down w-1/4 h-auto display:inline"
    />
  </div>
  <a
    href="https://www.youtube.com/watch?v=4t7QASz3E6Q"
    class="text-zinc hover:text-green-300">Check out my band live.</a
  >
</Layout>
